.search-modal {
  &__time {
    background-color: transparent;
    border: none;
    padding: 3px 6px;
  }
  &__info {
    flex-flow: column wrap;
    margin-right: 10px;
  }
  &__like {
    border: none;
    padding-right: 10px;
    :global {
      .anticon-heart {
        color: red;
      }
    }
  }
  &__extra {
    flex-flow: column wrap;
    div:first-child {
      padding-bottom: 10px;
      position: relative;
      right: 18px;
      :global {
        .anticon-container {
          margin-right: 5px;
        }
      }
    }
  }
  &__list-item {
    padding-bottom: 50px;
  }
  &__profile-button {
    border: 2px solid #b3d7ff;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 2px;
    font-weight: 300;
  }
  &__meta {
    text-align: center;
    h4 {
      font-size: 16px;
    }
    a {
      display: block;
    }
  }
  &__tags {
    border-radius: 4px;
    margin-left: 6px;
  }
}

.search-bar {
  :global {
    .ant-form-item-label > label {
      color: white;
    }
  }
  &__select {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

img.search-modal__image {
  padding: 10px 20px;
  width: 320px;
  max-width: 100%;
  height: auto;
}
