.search-modal {
  :global {
    .ant-modal-content {
      background-color: #e6f2ff;
    }
    .ant-modal-header {
      background-color: #e6f2ff;
    }
  }
  &__time {
    background-color: transparent;
    border-color: #cce5ff;
    padding: 3px 6px;
    border-radius: 10px;
  }
  &__list-item {
    padding-bottom: 50px;
  }
  &__profile-button {
    background-color: #cce5ff;
    border: 2px solid #b3d7ff;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 2px;
    font-weight: 300;
  }
  &__meta {
    text-align: center;
    h4 {
      font-size: 16px;
    }
    img {
      width: 320px;
      height: auto;
    }
  }
  &__tags {
    border-radius: 4px;
    // font-size: 12px;
  }
}

.search-bar {
  &__select {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
