.container {
  font-size: 16px;
  padding: 20px;
  min-height: 100vh;
  background-color: #f2f2f2;
  button:hover {
    border-color: #b3d7ff;
  }
  :global {
    .ant-list-pagination {
      padding: 0 20px 20px 0;
      button {
        border: none;
        border-radius: 5px;
      }
    }
    .ant-pagination-item {
      border-radius: 5px;
      border: none;
    }
  }
}
.navigation {
  margin-bottom: 30px;
  margin-right: 20px;
  border-bottom: 2px solid #cce5ff;
  padding-bottom: 10px;
  &__searcher-bar {
    :global {
    }
  }
  &__logo {
    button {
      border: none;
      background-color: transparent;
    }
  }
  &__user-menu {
    text-align: center;
    padding-top: 20px;
    span {
      display: inline-block;
      font-weight: 500;
    }
    :global {
      .ant-avatar {
        margin-right: 10px;
        span {
          margin-top: -1px;
          font-size: 22px;
          color: #b3d7ff;
          cursor: default;
        }
      }
    }
  }
}
