.researcher-list {
  &__item {
    margin-bottom: 80px !important;
    :global {
      .ant-list-item {
        padding-left: 10px;
      }
      .ant-list-item-meta-title {
        font-size: 16px;
      }
    }
  }
  &__publications {
    padding-left: 48px;
    color: rgba(0, 0, 0, 0.45);
  }
}
