.researcher-list {
  &__item {
    margin-bottom: 80px !important;
    :global {
      .ant-list-item {
        padding-left: 10px;
      }
      .ant-list-item-meta-title {
        font-size: 16px;
      }
      .ant-avatar {
        background-color: #4da3ff;
        span {
          margin-top: -1px;
          font-size: 22px;
          color: #b3d7ff;
          cursor: default;
        }
      }
    }
  }
  &__publications {
    padding-left: 48px;
    color: rgba(0, 0, 0, 0.45);
  }
}
