.login {
  &__main {
    :global {
      .ant-form {
        width: 100%;
        max-width: 400px;
      }
      .ant-form-item {
        display: flex;
        justify-content: center;
      }
    }
    display: flex;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  &__button {
    max-width: 100px;
    width: 100%;
    margin-left: 16px;
  }
}
